<!DOCTYPE html>
<html lang="en">
 <head>
            <!-- 05.10.2020 12:19:38 py4web app, ported by AI-biorex, tidylib_check = True -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>biorex title text</title>
  <!-- Bootstrap core CSS-->
  <link href="[%[=URL('static/tte/vendor/bootstrap/css/bootstrap.min.css') ]]" rel="stylesheet"/>
  <!-- Custom fonts for this template-->
  <link href="[%[=URL('static/tte/vendor/fontawesome-free/css/all.min.css') ]]" rel="stylesheet" type="text/css"/>
  <!-- Custom styles for this template-->
  <link href="[%[=URL('static/tte/css/sb-admin.css') ]]" rel="stylesheet"/>
 
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>
</head>
 <body class="bg-dark">
  <div class="container">
   <div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
     <div class="text-center mb-4">
      <h4>Forgot your password?</h4>
      <p>Enter your email address and we will send you instructions on how to reset your password.</p>
     </div>
     
<!-- view: fforgotXpassword0, db_table: dfforgotXpassword0 -->
<div>
[%[= fforgotXpassword0.custom['begin'] ]]

<div class="form-group">
 <div class="form-label-group">
 [%[ fforgotXpassword0.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ fforgotXpassword0.custom['widgets']['f0']['_id']= 'inputEmail'  ]]
 [%[ fforgotXpassword0.custom['widgets']['f0']['_class']= 'form-control'  ]]
 [%[ fforgotXpassword0.custom['widgets']['f0']['_placeholder']= 'Enter email address:p4w'  ]]
 [%[ fforgotXpassword0.custom['widgets']['f0']['_required']= 'required'  ]]
 [%[ fforgotXpassword0.custom['widgets']['f0']['_autofocus']= 'autofocus'  ]]
 [%[= fforgotXpassword0.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fforgotXpassword0.custom['errors']['f0'] if 'f0' in fforgotXpassword0.custom['errors'] else '' ]]</span>

  <label for="inputEmail">
   Enter email address:p4w
  </label>
 </div>
</div>

 [%[ fforgotXpassword0.custom['submit']['_class']= 'btn btn-primary btn-block'  ]]
 [%[ fforgotXpassword0.custom['submit']['_type']= 'submit'  ]]
 [%[ fforgotXpassword0.custom['submit']['_value']= 'a:p4w'  ]]
 [%[= fforgotXpassword0.custom['submit'] ]]

[%[= fforgotXpassword0.custom['end'] ]]
</div>
<!-- end fforgotXpassword0 -->

     <div class="text-center">
      <a class="d-block small mt-3" href="[%[=URL('register') ]]">Register an Account</a>
      <a class="d-block small" href="[%[=URL('login') ]]">Login Page</a>
     </div>
    </div>
   </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="[%[=URL('static/tte/vendor/jquery/jquery.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/bootstrap/js/bootstrap.bundle.min.js') ]]"></script>
  <!-- Core plugin JavaScript-->
  <script src="[%[=URL('static/tte/vendor/jquery-easing/jquery.easing.min.js') ]]"></script>
 </body>
</html>
