<!DOCTYPE html>
<html lang="en">
 <head>
            <!-- 06.05.2021 16:14:36 py4web app, ported by AI-biorex, tidylib_check = True -->
  <!-- Required meta tags-->
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="au theme template" name="description"/>
  <meta content="Hau Nguyen" name="author"/>
  <meta content="au theme template" name="keywords"/>
  <!-- Title Page-->
  <title>biorex title text</title>
  <!-- Fontfaces CSS-->
  <link href="[%[=URL('static/tte/css/font-face.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/font-awesome-4.7/css/font-awesome.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/font-awesome-5/css/fontawesome-all.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/mdi-font/css/material-design-iconic-font.min.css') ]]" media="all" rel="stylesheet"/>
  <!-- Bootstrap CSS-->
  <link href="[%[=URL('static/tte/vendor/bootstrap-4.1/bootstrap.min.css') ]]" media="all" rel="stylesheet"/>
  <!-- Vendor CSS-->
  <link href="[%[=URL('static/tte/vendor/animsition/animsition.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/wow/animate.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/css-hamburgers/hamburgers.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/slick/slick.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/select2/select2.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/perfect-scrollbar/perfect-scrollbar.css') ]]" media="all" rel="stylesheet"/>
  <!-- Main CSS-->
  <link href="[%[=URL('static/tte/css/theme.css') ]]" media="all" rel="stylesheet"/>
 
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"  async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>

   <!-- disable google analytics -->
   <script>window['ga-disable-UA-119386393-1'] = true;</script>

<style>
     .mysubmit_cls {
         width: 6em;
         margin: 0.2em auto 0.2em auto !important;
         padding-left: 0 !important;
         padding-right: 0 !important;
         border: 1px dashed black;
         color: black;
         background-color: LightGray;
         font-weight: bold;
         text-decoration: underline;
     }

     .mysubmit_cls:hover {
         background-color: LightCyan;
         cursor: pointer;
     }

     .flashdiv {
         text-align: center;
         position: absolute;
         display: inline-block;
     }

     .flashspan {
         position: relative;
         z-index: 100;
         background-color: #F0FFF0;
         color: black;
         border: 2px dashed red;
         padding: 0.2em 1em 0.2em 1em;
     }

</style>

</head>
 <body class="animsition">
  <div class="page-wrapper">
   <div class="page-content--bge5">
    <div class="container">
     <div class="login-wrap">
      <div class="login-content">
       <div class="login-logo">
        <a href="#">
         <img alt="CoolAdmin" src="[%[=URL('static/tte/images/icon/logo.png') ]]"/></a>
       </div>
       <div class="login-form">
        
<!-- BEGIN view: fforgetXpass0, db_table: dfforgetXpass0 -->
<div>
[%[= fforgetXpass0.custom['begin'] ]]
<div class="form-group">
 <label>
  Email Address
 </label>
 [%[ fforgetXpass0.custom['widgets']['f0']['_class']= 'au-input au-input--full'  ]]
 [%[ fforgetXpass0.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ fforgetXpass0.custom['widgets']['f0']['_placeholder']= 'Email'  ]]
 [%[= fforgetXpass0.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= fforgetXpass0.custom['errors']['f0'] if 'f0' in fforgetXpass0.custom['errors'] else '' ]]</span>

</div>

 [%[ fforgetXpass0.custom['submit']['_class']= 'au-btn au-btn--block au-btn--green m-b-20'  ]]
 [%[ fforgetXpass0.custom['submit']['_type']= 'submit'  ]]
 [%[ fforgetXpass0.custom['submit']['_title']= 'mysubmit from button'  ]]
 [%[ fforgetXpass0.custom['submit']['_value']= 'Submit'  ]]
 [%[ fforgetXpass0.custom['submit']['_style']= 'text-decoration: underline; font-weight: bold;'  ]]
 [%[= fforgetXpass0.custom['submit'] ]]


 [%[ for hidden_widget in fforgetXpass0.custom['hidden_widgets'].keys(): ]]
     [%[= fforgetXpass0.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">fforgetXpass0</span></div>


[%[= fforgetXpass0.custom['end'] ]]
</div>
<!-- END fforgetXpass0-->

       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Jquery JS-->
  <script src="[%[=URL('static/tte/vendor/jquery-3.2.1.min.js') ]]"></script>
  <!-- Bootstrap JS-->
  <script src="[%[=URL('static/tte/vendor/bootstrap-4.1/popper.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/bootstrap-4.1/bootstrap.min.js') ]]"></script>
  <!-- Vendor JS       -->
  <script src="[%[=URL('static/tte/vendor/slick/slick.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/wow/wow.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/animsition/animsition.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/counter-up/jquery.waypoints.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/counter-up/jquery.counterup.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/circle-progress/circle-progress.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/perfect-scrollbar/perfect-scrollbar.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/chartjs/Chart.bundle.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/select2/select2.min.js') ]]"></script>
  <!-- Main JS-->
  <script src="[%[=URL('static/tte/js/main.js') ]]"></script>
  
<!-- forms ajax -->
<script>

  const forms_url = [%[ =XML(  ctrl_template_url   ) ]]
  for(let i = 0; i < document.forms.length; i++){

        document.forms[i].onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch(forms_url, {
                method: 'POST',
                body: new FormData( document.forms[i] )
            });


            let result = await response.json();

            if ( result.js_alert==='sweet2' ) {

                      if (("icon_type" in result)==0) { 
                         result.icon_type = 'error' ;
                       }
          
                      //----------------------------------------------------------
                      Swal.fire({
                            //position: 'top-end',
                            icon: result.icon_type,
                            title: result.messages,
                            showConfirmButton: false,
                            timer: 2000,
                       
                            showClass: {
                              popup: '',
                              icon: ''
                            },
                            hideClass: {
                               popup: '',
                            }
                      })
                     //----------------------------------------------------------
            } else {
                     alert(result.messages);
            }

        };
  }

</script>


 <!-- rm_flashdiv -->
<script>
     !function() { 
         const elems = document.querySelectorAll('.flashdiv');
         for (const e of elems) { setTimeout(function() {e.remove();}, 15000); }
     }();
</script>

</body>
</html>
<!-- end document-->
