<!DOCTYPE html>
<html lang="en">
 <head>
            <!-- 06.05.2021 16:14:35 py4web app, ported by AI-biorex, tidylib_check = True -->
  <!-- Required meta tags-->
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="au theme template" name="description"/>
  <meta content="Hau Nguyen" name="author"/>
  <meta content="au theme template" name="keywords"/>
  <!-- Title Page-->
  <title>biorex title text</title>
  <!-- Fontfaces CSS-->
  <link href="[%[=URL('static/tte/css/font-face.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/font-awesome-4.7/css/font-awesome.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/font-awesome-5/css/fontawesome-all.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/mdi-font/css/material-design-iconic-font.min.css') ]]" media="all" rel="stylesheet"/>
  <!-- Bootstrap CSS-->
  <link href="[%[=URL('static/tte/vendor/bootstrap-4.1/bootstrap.min.css') ]]" media="all" rel="stylesheet"/>
  <!-- Vendor CSS-->
  <link href="[%[=URL('static/tte/vendor/animsition/animsition.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/wow/animate.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/css-hamburgers/hamburgers.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/slick/slick.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/select2/select2.min.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/perfect-scrollbar/perfect-scrollbar.css') ]]" media="all" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/vendor/vector-map/jqvmap.min.css') ]]" media="all" rel="stylesheet"/>
  <!-- Main CSS-->
  <link href="[%[=URL('static/tte/css/theme.css') ]]" media="all" rel="stylesheet"/>
 
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"  async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>

   <!-- disable google analytics -->
   <script>window['ga-disable-UA-119386393-1'] = true;</script>

<style>
     .mysubmit_cls {
         width: 6em;
         margin: 0.2em auto 0.2em auto !important;
         padding-left: 0 !important;
         padding-right: 0 !important;
         border: 1px dashed black;
         color: black;
         background-color: LightGray;
         font-weight: bold;
         text-decoration: underline;
     }

     .mysubmit_cls:hover {
         background-color: LightCyan;
         cursor: pointer;
     }

     .flashdiv {
         text-align: center;
         position: absolute;
         display: inline-block;
     }

     .flashspan {
         position: relative;
         z-index: 100;
         background-color: #F0FFF0;
         color: black;
         border: 2px dashed red;
         padding: 0.2em 1em 0.2em 1em;
     }

</style>

</head>
 <body class="animsition">
  <div class="page-wrapper">
   <!-- MENU SIDEBAR-->
   <aside class="menu-sidebar2">
    <div class="logo">
     <a href="#">
      <img alt="Cool Admin" src="[%[=URL('static/tte/images/icon/logo-white.png') ]]"/></a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
     <div class="account2">
      <div class="image img-cir img-120">
       <img alt="John Doe" src="[%[=URL('static/tte/images/icon/avatar-big-01.jpg') ]]"/></div>
      <h4 class="name">john doe</h4>
      <a href="#">Sign out</a>
     </div>
     <nav class="navbar-sidebar2">
      <ul class="list-unstyled navbar__list">
       <li class="active has-sub">
        <a class="js-arrow" href="#">
         <i class="fas fa-tachometer-alt"></i>
         Dashboard
         <span class="arrow">
          <i class="fas fa-angle-down"></i>
         </span>
        </a>
        <ul class="list-unstyled navbar__sub-list js-sub-list">
         <li>
          <a href="[%[=URL('index') ]]">
           <i class="fas fa-tachometer-alt"></i>
           Dashboard 1
          </a>
         </li>
         <li>
          <a href="[%[=URL('index2') ]]">
           <i class="fas fa-tachometer-alt"></i>
           Dashboard 2
          </a>
         </li>
         <li>
          <a href="[%[=URL('index3') ]]">
           <i class="fas fa-tachometer-alt"></i>
           Dashboard 3
          </a>
         </li>
         <li>
          <a href="[%[=URL('index4') ]]">
           <i class="fas fa-tachometer-alt"></i>
           Dashboard 4
          </a>
         </li>
        </ul>
       </li>
       <li>
        <a href="[%[=URL('inbox') ]]">
         <i class="fas fa-chart-bar"></i>
         Inbox
        </a>
        <span class="inbox-num">3</span>
       </li>
       <li>
        <a href="#">
         <i class="fas fa-shopping-basket"></i>
         eCommerce
        </a>
       </li>
       <li class="has-sub">
        <a class="js-arrow" href="#">
         <i class="fas fa-trophy"></i>
         Features
         <span class="arrow">
          <i class="fas fa-angle-down"></i>
         </span>
        </a>
        <ul class="list-unstyled navbar__sub-list js-sub-list">
         <li>
          <a href="[%[=URL('table') ]]">
           <i class="fas fa-table"></i>
           Tables
          </a>
         </li>
         <li>
          <a href="[%[=URL('form') ]]">
           <i class="far fa-check-square"></i>
           Forms
          </a>
         </li>
         <li>
          <a href="[%[=URL('calendar') ]]">
           <i class="fas fa-calendar-alt"></i>
           Calendar
          </a>
         </li>
         <li>
          <a href="[%[=URL('map') ]]">
           <i class="fas fa-map-marker-alt"></i>
           Maps
          </a>
         </li>
        </ul>
       </li>
       <li class="has-sub">
        <a class="js-arrow" href="#">
         <i class="fas fa-copy"></i>
         Pages
         <span class="arrow">
          <i class="fas fa-angle-down"></i>
         </span>
        </a>
        <ul class="list-unstyled navbar__sub-list js-sub-list">
         <li>
          <a href="[%[=URL('loginA') ]]">
           <i class="fas fa-sign-in-alt"></i>
           Login
          </a>
         </li>
         <li>
          <a href="[%[=URL('registerA') ]]">
           <i class="fas fa-user"></i>
           Register
          </a>
         </li>
         <li>
          <a href="[%[=URL('forgetXpass') ]]">
           <i class="fas fa-unlock-alt"></i>
           Forget Password
          </a>
         </li>
        </ul>
       </li>
       <li class="has-sub">
        <a class="js-arrow" href="#">
         <i class="fas fa-desktop"></i>
         UI Elements
         <span class="arrow">
          <i class="fas fa-angle-down"></i>
         </span>
        </a>
        <ul class="list-unstyled navbar__sub-list js-sub-list">
         <li>
          <a href="[%[=URL('button') ]]">
           <i class="fab fa-flickr"></i>
           Button
          </a>
         </li>
         <li>
          <a href="[%[=URL('badge') ]]">
           <i class="fas fa-comment-alt"></i>
           Badges
          </a>
         </li>
         <li>
          <a href="[%[=URL('tab') ]]">
           <i class="far fa-window-maximize"></i>
           Tabs
          </a>
         </li>
         <li>
          <a href="[%[=URL('card') ]]">
           <i class="far fa-id-card"></i>
           Cards
          </a>
         </li>
         <li>
          <a href="[%[=URL('alert') ]]">
           <i class="far fa-bell"></i>
           Alerts
          </a>
         </li>
         <li>
          <a href="[%[=URL('progressXbar') ]]">
           <i class="fas fa-tasks"></i>
           Progress Bars
          </a>
         </li>
         <li>
          <a href="[%[=URL('modal') ]]">
           <i class="far fa-window-restore"></i>
           Modals
          </a>
         </li>
         <li>
          <a href="[%[=URL('switch') ]]">
           <i class="fas fa-toggle-on"></i>
           Switchs
          </a>
         </li>
         <li>
          <a href="[%[=URL('grid') ]]">
           <i class="fas fa-th-large"></i>
           Grids
          </a>
         </li>
         <li>
          <a href="[%[=URL('fontawesome') ]]">
           <i class="fab fa-font-awesome"></i>
           FontAwesome
          </a>
         </li>
         <li>
          <a href="[%[=URL('typo') ]]">
           <i class="fas fa-font"></i>
           Typography
          </a>
         </li>
        </ul>
       </li>
      </ul>
     </nav>
    </div>
   </aside>
   <!-- END MENU SIDEBAR-->
   <!-- PAGE CONTAINER-->
   <div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
     <div class="section__content section__content--p30">
      <div class="container-fluid">
       <div class="header-wrap2">
        <div class="logo d-block d-lg-none">
         <a href="#">
          <img alt="CoolAdmin" src="[%[=URL('static/tte/images/icon/logo-white.png') ]]"/></a>
        </div>
        <div class="header-button2">
         <div class="header-button-item js-item-menu">
          <i class="zmdi zmdi-search"></i>
          <div class="search-dropdown js-dropdown">
           
<!-- BEGIN view: findex20, db_table: dfindex20 -->
<div>
[%[= findex20.custom['begin'] ]]
 [%[ findex20.custom['widgets']['f0']['_class']= 'au-input au-input--full au-input--h65'  ]]
 [%[ findex20.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ findex20.custom['widgets']['f0']['_placeholder']= 'Search for datas & reports...'  ]]
 [%[= findex20.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= findex20.custom['errors']['f0'] if 'f0' in findex20.custom['errors'] else '' ]]</span>

 [%[ findex20.custom['submit']['_class']= 'au-input au-input--full au-input--h65 mysubmit_cls'  ]]
 [%[ findex20.custom['submit']['_type']= 'submit'  ]]
 [%[ findex20.custom['submit']['_placeholder']= ''  ]]
 [%[ findex20.custom['submit']['_rows']= '1'  ]]
 [%[ findex20.custom['submit']['_value']= 'Submit'  ]]
 [%[ findex20.custom['submit']['_title']= 'mysubmit from last element'  ]]
 [%[= findex20.custom['submit'] ]]


<span class="search-dropdown__icon">
 <i class="zmdi zmdi-search">
 </i>
</span>

 [%[ for hidden_widget in findex20.custom['hidden_widgets'].keys(): ]]
     [%[= findex20.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 

  <div class="flashdiv"><span class="flashspan">findex20</span></div>


[%[= findex20.custom['end'] ]]
</div>
<!-- END findex20-->

          </div>
         </div>
         <div class="header-button-item has-noti js-item-menu">
          <i class="zmdi zmdi-notifications"></i>
          <div class="notifi-dropdown js-dropdown">
           <div class="notifi__title">
            <p>You have 3 Notifications</p>
           </div>
           <div class="notifi__item">
            <div class="bg-c1 img-cir img-40">
             <i class="zmdi zmdi-email-open"></i>
            </div>
            <div class="content">
             <p>You got a email notification</p>
             <span class="date">April 12, 2018 06:50</span>
            </div>
           </div>
           <div class="notifi__item">
            <div class="bg-c2 img-cir img-40">
             <i class="zmdi zmdi-account-box"></i>
            </div>
            <div class="content">
             <p>Your account has been blocked</p>
             <span class="date">April 12, 2018 06:50</span>
            </div>
           </div>
           <div class="notifi__item">
            <div class="bg-c3 img-cir img-40">
             <i class="zmdi zmdi-file-text"></i>
            </div>
            <div class="content">
             <p>You got a new file</p>
             <span class="date">April 12, 2018 06:50</span>
            </div>
           </div>
           <div class="notifi__footer">
            <a href="#">All notifications</a>
           </div>
          </div>
         </div>
         <div class="header-button-item mr-0 js-sidebar-btn">
          <i class="zmdi zmdi-menu"></i>
         </div>
         <div class="setting-menu js-right-sidebar d-none d-lg-block">
          <div class="account-dropdown__body">
           <div class="account-dropdown__item">
            <a href="#">
             <i class="zmdi zmdi-account"></i>
             Account
            </a>
           </div>
           <div class="account-dropdown__item">
            <a href="#">
             <i class="zmdi zmdi-settings"></i>
             Setting
            </a>
           </div>
           <div class="account-dropdown__item">
            <a href="#">
             <i class="zmdi zmdi-money-box"></i>
             Billing
            </a>
           </div>
          </div>
          <div class="account-dropdown__body">
           <div class="account-dropdown__item">
            <a href="#">
             <i class="zmdi zmdi-globe"></i>
             Language
            </a>
           </div>
           <div class="account-dropdown__item">
            <a href="#">
             <i class="zmdi zmdi-pin"></i>
             Location
            </a>
           </div>
           <div class="account-dropdown__item">
            <a href="#">
             <i class="zmdi zmdi-email"></i>
             Email
            </a>
           </div>
           <div class="account-dropdown__item">
            <a href="#">
             <i class="zmdi zmdi-notifications"></i>
             Notifications
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </header>
    <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
     <div class="logo">
      <a href="#">
       <img alt="Cool Admin" src="[%[=URL('static/tte/images/icon/logo-white.png') ]]"/></a>
     </div>
     <div class="menu-sidebar2__content js-scrollbar2">
      <div class="account2">
       <div class="image img-cir img-120">
        <img alt="John Doe" src="[%[=URL('static/tte/images/icon/avatar-big-01.jpg') ]]"/></div>
       <h4 class="name">john doe</h4>
       <a href="#">Sign out</a>
      </div>
      <nav class="navbar-sidebar2">
       <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
         <a class="js-arrow" href="#">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
          <span class="arrow">
           <i class="fas fa-angle-down"></i>
          </span>
         </a>
         <ul class="list-unstyled navbar__sub-list js-sub-list">
          <li>
           <a href="[%[=URL('index') ]]">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard 1
           </a>
          </li>
          <li>
           <a href="[%[=URL('index2') ]]">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard 2
           </a>
          </li>
          <li>
           <a href="[%[=URL('index3') ]]">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard 3
           </a>
          </li>
          <li>
           <a href="[%[=URL('index4') ]]">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard 4
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="[%[=URL('inbox') ]]">
          <i class="fas fa-chart-bar"></i>
          Inbox
         </a>
         <span class="inbox-num">3</span>
        </li>
        <li>
         <a href="#">
          <i class="fas fa-shopping-basket"></i>
          eCommerce
         </a>
        </li>
        <li class="has-sub">
         <a class="js-arrow" href="#">
          <i class="fas fa-trophy"></i>
          Features
          <span class="arrow">
           <i class="fas fa-angle-down"></i>
          </span>
         </a>
         <ul class="list-unstyled navbar__sub-list js-sub-list">
          <li>
           <a href="[%[=URL('table') ]]">
            <i class="fas fa-table"></i>
            Tables
           </a>
          </li>
          <li>
           <a href="[%[=URL('form') ]]">
            <i class="far fa-check-square"></i>
            Forms
           </a>
          </li>
          <li>
           <a href="[%[=URL('calendar') ]]">
            <i class="fas fa-calendar-alt"></i>
            Calendar
           </a>
          </li>
          <li>
           <a href="[%[=URL('map') ]]">
            <i class="fas fa-map-marker-alt"></i>
            Maps
           </a>
          </li>
         </ul>
        </li>
        <li class="has-sub">
         <a class="js-arrow" href="#">
          <i class="fas fa-copy"></i>
          Pages
          <span class="arrow">
           <i class="fas fa-angle-down"></i>
          </span>
         </a>
         <ul class="list-unstyled navbar__sub-list js-sub-list">
          <li>
           <a href="[%[=URL('loginA') ]]">
            <i class="fas fa-sign-in-alt"></i>
            Login
           </a>
          </li>
          <li>
           <a href="[%[=URL('registerA') ]]">
            <i class="fas fa-user"></i>
            Register
           </a>
          </li>
          <li>
           <a href="[%[=URL('forgetXpass') ]]">
            <i class="fas fa-unlock-alt"></i>
            Forget Password
           </a>
          </li>
         </ul>
        </li>
        <li class="has-sub">
         <a class="js-arrow" href="#">
          <i class="fas fa-desktop"></i>
          UI Elements
          <span class="arrow">
           <i class="fas fa-angle-down"></i>
          </span>
         </a>
         <ul class="list-unstyled navbar__sub-list js-sub-list">
          <li>
           <a href="[%[=URL('button') ]]">
            <i class="fab fa-flickr"></i>
            Button
           </a>
          </li>
          <li>
           <a href="[%[=URL('badge') ]]">
            <i class="fas fa-comment-alt"></i>
            Badges
           </a>
          </li>
          <li>
           <a href="[%[=URL('tab') ]]">
            <i class="far fa-window-maximize"></i>
            Tabs
           </a>
          </li>
          <li>
           <a href="[%[=URL('card') ]]">
            <i class="far fa-id-card"></i>
            Cards
           </a>
          </li>
          <li>
           <a href="[%[=URL('alert') ]]">
            <i class="far fa-bell"></i>
            Alerts
           </a>
          </li>
          <li>
           <a href="[%[=URL('progressXbar') ]]">
            <i class="fas fa-tasks"></i>
            Progress Bars
           </a>
          </li>
          <li>
           <a href="[%[=URL('modal') ]]">
            <i class="far fa-window-restore"></i>
            Modals
           </a>
          </li>
          <li>
           <a href="[%[=URL('switch') ]]">
            <i class="fas fa-toggle-on"></i>
            Switchs
           </a>
          </li>
          <li>
           <a href="[%[=URL('grid') ]]">
            <i class="fas fa-th-large"></i>
            Grids
           </a>
          </li>
          <li>
           <a href="[%[=URL('fontawesome') ]]">
            <i class="fab fa-font-awesome"></i>
            FontAwesome
           </a>
          </li>
          <li>
           <a href="[%[=URL('typo') ]]">
            <i class="fas fa-font"></i>
            Typography
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </nav>
     </div>
    </aside>
    <!-- END HEADER DESKTOP-->
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
     <div class="section__content section__content--p30">
      <div class="container-fluid">
       <div class="row">
        <div class="col-md-12">
         <div class="au-breadcrumb-content">
          <div class="au-breadcrumb-left">
           <span class="au-breadcrumb-span">You are here:</span>
           <ul class="list-unstyled list-inline au-breadcrumb__list">
            <li class="list-inline-item active">
             <a href="#">Home</a>
            </li>
            <li class="list-inline-item seprate">
             <span>/</span>
            </li>
            <li class="list-inline-item">Dashboard</li>
           </ul>
          </div>
          <button class="au-btn au-btn-icon au-btn--green">
           <i class="zmdi zmdi-plus"></i>
           add item
          </button>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- END BREADCRUMB-->
    <!-- STATISTIC-->
    <section class="statistic">
     <div class="section__content section__content--p30">
      <div class="container-fluid">
       <div class="row">
        <div class="col-md-6 col-lg-3">
         <div class="statistic__item">
          <h2 class="number">10,368</h2>
          <span class="desc">members online</span>
          <div class="icon">
           <i class="zmdi zmdi-account-o"></i>
          </div>
         </div>
        </div>
        <div class="col-md-6 col-lg-3">
         <div class="statistic__item">
          <h2 class="number">388,688</h2>
          <span class="desc">items sold</span>
          <div class="icon">
           <i class="zmdi zmdi-shopping-cart"></i>
          </div>
         </div>
        </div>
        <div class="col-md-6 col-lg-3">
         <div class="statistic__item">
          <h2 class="number">1,086</h2>
          <span class="desc">this week</span>
          <div class="icon">
           <i class="zmdi zmdi-calendar-note"></i>
          </div>
         </div>
        </div>
        <div class="col-md-6 col-lg-3">
         <div class="statistic__item">
          <h2 class="number">$1,060,386</h2>
          <span class="desc">total earnings</span>
          <div class="icon">
           <i class="zmdi zmdi-money"></i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- END STATISTIC-->
    <section>
     <div class="section__content section__content--p30">
      <div class="container-fluid">
       <div class="row">
        <div class="col-xl-8">
         <!-- RECENT REPORT 2-->
         <div class="recent-report2">
          <h3 class="title-3">recent reports</h3>
          <div class="chart-info">
           <div class="chart-info__left">
            <div class="chart-note">
             <span class="dot dot--blue"></span>
             <span>products</span>
            </div>
            <div class="chart-note">
             <span class="dot dot--green"></span>
             <span>Services</span>
            </div>
           </div>
           <div class="chart-info-right">
            <div class="rs-select2--dark rs-select2--md m-r-10">
             <select class="js-select2" name="property">
              <option selected="selected">
               All Properties
              </option>
              <option value="">
               Products
              </option>
              <option value="">
               Services
              </option>
             </select>
             <div class="dropDownSelect2"></div>
            </div>
            <div class="rs-select2--dark rs-select2--sm">
             <select class="js-select2 au-select-dark" name="time">
              <option selected="selected">
               All Time
              </option>
              <option value="">
               By Month
              </option>
              <option value="">
               By Day
              </option>
             </select>
             <div class="dropDownSelect2"></div>
            </div>
           </div>
          </div>
          <div class="recent-report__chart">
           <canvas id="recent-rep2-chart"></canvas>
          </div>
         </div>
         <!-- END RECENT REPORT 2             -->
        </div>
        <div class="col-xl-4">
         <!-- TASK PROGRESS-->
         <div class="task-progress">
          <h3 class="title-3">task progress</h3>
          <div class="au-skill-container">
           <div class="au-progress">
            <span class="au-progress__title">Web Design</span>
            <div class="au-progress__bar">
             <div class="au-progress__inner js-progressbar-simple" data-transitiongoal="90" role="progressbar">
              <span class="au-progress__value js-value"></span>
             </div>
            </div>
           </div>
           <div class="au-progress">
            <span class="au-progress__title">HTML5/CSS3</span>
            <div class="au-progress__bar">
             <div class="au-progress__inner js-progressbar-simple" data-transitiongoal="85" role="progressbar">
              <span class="au-progress__value js-value"></span>
             </div>
            </div>
           </div>
           <div class="au-progress">
            <span class="au-progress__title">WordPress</span>
            <div class="au-progress__bar">
             <div class="au-progress__inner js-progressbar-simple" data-transitiongoal="95" role="progressbar">
              <span class="au-progress__value js-value"></span>
             </div>
            </div>
           </div>
           <div class="au-progress">
            <span class="au-progress__title">Support</span>
            <div class="au-progress__bar">
             <div class="au-progress__inner js-progressbar-simple" data-transitiongoal="95" role="progressbar">
              <span class="au-progress__value js-value"></span>
             </div>
            </div>
           </div>
          </div>
         </div>
         <!-- END TASK PROGRESS-->
        </div>
       </div>
      </div>
     </div>
    </section>
    <section>
     <div class="section__content section__content--p30">
      <div class="container-fluid">
       <div class="row">
        <div class="col-xl-6">
         <!-- USER DATA-->
         <div class="user-data m-b-40">
          <h3 class="title-3 m-b-30">
           <i class="zmdi zmdi-account-calendar"></i>
           user data
          </h3>
          <div class="filters m-b-45">
           <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
            <select class="js-select2" name="property">
             <option selected="selected">
              All Properties
             </option>
             <option value="">
              Products
             </option>
             <option value="">
              Services
             </option>
            </select>
            <div class="dropDownSelect2"></div>
           </div>
           <div class="rs-select2--dark rs-select2--sm rs-select2--border">
            <select class="js-select2 au-select-dark" name="time">
             <option selected="selected">
              All Time
             </option>
             <option value="">
              By Month
             </option>
             <option value="">
              By Day
             </option>
            </select>
            <div class="dropDownSelect2"></div>
           </div>
          </div>
          <div class="table-responsive table-data">
           
<!--view: rows_tindex20, db_table: tindex20 -->
  <table class="table">
    <thead>
      <tr>
        <th>==0</th>
        <th>name</th>
        <th>role</th>
        <th>type</th>
        <th>==0</th>
      </tr>
    </thead>
  <tbody>
        [%[ for row0 in rows_tindex20: ]]
        <tr>
            <td>[%[= XML(row0.f0) ]]</td>
            <td>[%[= XML(row0.f1) ]]</td>
            <td>[%[= XML(row0.f2) ]]</td>
            <td>[%[= XML(row0.f3) ]]</td>
            <td>[%[= XML(row0.f4) ]]</td>
        </tr>
        [%[pass ]]
  </tbody>
</table>
<!-- end rows_tindex20 -->

<div class="flashdiv"><span class="flashspan">tindex20</span></div>

          </div>
          <div class="user-data__footer">
           <button class="au-btn au-btn-load">load more</button>
          </div>
         </div>
         <!-- END USER DATA-->
        </div>
        <div class="col-xl-6">
         <!-- MAP DATA-->
         <div class="map-data m-b-40">
          <h3 class="title-3 m-b-30">
           <i class="zmdi zmdi-map"></i>
           map data
          </h3>
          <div class="filters">
           <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
            <select class="js-select2" name="property">
             <option selected="selected">
              All Worldwide
             </option>
             <option value="">
              Products
             </option>
             <option value="">
              Services
             </option>
            </select>
            <div class="dropDownSelect2"></div>
           </div>
           <div class="rs-select2--dark rs-select2--sm rs-select2--border">
            <select class="js-select2 au-select-dark" name="time">
             <option selected="selected">
              All Time
             </option>
             <option value="">
              By Month
             </option>
             <option value="">
              By Day
             </option>
            </select>
            <div class="dropDownSelect2"></div>
           </div>
          </div>
          <div class="map-wrap m-t-45 m-b-80">
           <div id="vmap" style="height: 284px;"></div>
          </div>
          <div class="table-wrap">
           <div class="table-responsive table-style1">
            
<!--view: rows_tindex21, db_table: tindex21 -->
  <table class="table">
  <tbody>
        [%[ for row1 in rows_tindex21: ]]
        <tr>
            <td>[%[= XML(row1.f0) ]]</td>
            <td>[%[= XML(row1.f1) ]]</td>
        </tr>
        [%[pass ]]
  </tbody>
</table>
<!-- end rows_tindex21 -->

<div class="flashdiv"><span class="flashspan">tindex21</span></div>

           </div>
           <div class="table-responsive table-style1">
            
<!--view: rows_tindex22, db_table: tindex22 -->
  <table class="table">
  <tbody>
        [%[ for row2 in rows_tindex22: ]]
        <tr>
            <td>[%[= XML(row2.f0) ]]</td>
            <td>[%[= XML(row2.f1) ]]</td>
        </tr>
        [%[pass ]]
  </tbody>
</table>
<!-- end rows_tindex22 -->

<div class="flashdiv"><span class="flashspan">tindex22</span></div>

           </div>
          </div>
         </div>
         <!-- END MAP DATA-->
        </div>
       </div>
      </div>
     </div>
    </section>
    <section>
     <div class="container-fluid">
      <div class="row">
       <div class="col-md-12">
        <div class="copyright">
         <p>
          Copyright © 2018 Colorlib. All rights reserved. Template by
          <a href="https://colorlib.com">Colorlib</a>
          .
         </p>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- END PAGE CONTAINER-->
   </div>
  </div>
  <!-- Jquery JS-->
  <script src="[%[=URL('static/tte/vendor/jquery-3.2.1.min.js') ]]"></script>
  <!-- Bootstrap JS-->
  <script src="[%[=URL('static/tte/vendor/bootstrap-4.1/popper.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/bootstrap-4.1/bootstrap.min.js') ]]"></script>
  <!-- Vendor JS       -->
  <script src="[%[=URL('static/tte/vendor/slick/slick.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/wow/wow.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/animsition/animsition.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/counter-up/jquery.waypoints.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/counter-up/jquery.counterup.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/circle-progress/circle-progress.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/perfect-scrollbar/perfect-scrollbar.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/chartjs/Chart.bundle.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/select2/select2.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/vector-map/jquery.vmap.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/vector-map/jquery.vmap.min.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/vector-map/jquery.vmap.sampledata.js') ]]"></script>
  <script src="[%[=URL('static/tte/vendor/vector-map/jquery.vmap.world.js') ]]"></script>
  <!-- Main JS-->
  <script src="[%[=URL('static/tte/js/main.js') ]]"></script>
  
<!-- forms ajax -->
<script>

  const forms_url = [%[ =XML(  ctrl_template_url   ) ]]
  for(let i = 0; i < document.forms.length; i++){

        document.forms[i].onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch(forms_url, {
                method: 'POST',
                body: new FormData( document.forms[i] )
            });


            let result = await response.json();

            if ( result.js_alert==='sweet2' ) {

                      if (("icon_type" in result)==0) { 
                         result.icon_type = 'error' ;
                       }
          
                      //----------------------------------------------------------
                      Swal.fire({
                            //position: 'top-end',
                            icon: result.icon_type,
                            title: result.messages,
                            showConfirmButton: false,
                            timer: 2000,
                       
                            showClass: {
                              popup: '',
                              icon: ''
                            },
                            hideClass: {
                               popup: '',
                            }
                      })
                     //----------------------------------------------------------
            } else {
                     alert(result.messages);
            }

        };
  }

</script>


 <!-- rm_flashdiv -->
<script>
     !function() { 
         const elems = document.querySelectorAll('.flashdiv');
         for (const e of elems) { setTimeout(function() {e.remove();}, 15000); }
     }();
</script>

</body>
</html>
<!-- end document-->
