<!DOCTYPE html>
<html lang="en">
 <head>
            <!-- 25.11.2020 16:14:18 py4web app, ported by AI-biorex, tidylib_check = True -->
  <title>biorex title text</title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <link href="[%[=URL('static/tte/dist/styles.css') ]]" rel="stylesheet"/>
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" rel="stylesheet"/>
  <style>.login {
    background: url([%[=URL('static/tte/dist/images/login-new.jpeg')]])
}
  </style>
 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js" async defer></script>
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>
</head>
 <body class="h-screen font-sans login bg-cover">
  <div class="container mx-auto h-full flex flex-1 justify-center items-center">
   <div class="w-full max-w-lg">
    <div class="leading-loose">
     <div class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
      <p class="text-gray-800 font-medium text-center text-xl font-bold">404 - Not Found</p>
      <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded ml-24" onclick="location.href='[%[=URL('index') ]]'" type="submit">Take Me Back To Home</button>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
