<!DOCTYPE html>
<html lang="en">
 <head>
            <!-- 03.09.2020 13:37:04 py4web app, ported by AI-biorex, tidylib_check = True -->
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" name="viewport"/>
  <meta content="en-EN" name="language"/>
  <meta content="Irfan Maulana" name="author"/>
  <title>biorex title text</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
  <script>
   window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}
gtag('js', new Date());
gtag('config', 'UA-25065548-2');
  </script>
  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5442972248172818",
    enable_page_level_ads: true
});
  </script>
  <link href="[%[=URL('static/tte/bulma-admin-dashboard-template/app.2d7a2cf3933d22402d65.css') ]]" rel="stylesheet"/>
 
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>
</head>
 <body>
  <header class="hero">
   <div class="hero-head">
    <nav aria-label="main navigation" class="navbar has-shadow" role="navigation">
     <div class="navbar-brand">
      <a class="navbar-item is--brand">
       <img alt="Bulma Admin Template logo" class="navbar-brand-logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/></a>
      <a class="navbar-item is-tab is-hidden-mobile is-active">
       <span class="icon is-medium">
        <i class="fa fa-home"></i>
       </span>
       Home
      </a>
      <a class="navbar-item is-tab is-hidden-mobile" href="https://github.com/mazipan/bulma-admin-dashboard-template">Github</a>
      <a class="navbar-item is-tab is-hidden-mobile" href="http://py4web.com">Resume Template</a>
      <a class="navbar-item is-tab is-hidden-mobile" href="#about">About</a>
      <button class="button navbar-burger" data-target="navMenu">
       <span></span>
       <span></span>
       <span></span>
      </button>
     </div>
     <div class="navbar-menu navbar-end" id="navMenu">
      <a class="navbar-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="navbar-item is-tab is-hidden-tablet" href="https://github.com/mazipan/bulma-admin-dashboard-template">Github</a>
      <a class="navbar-item is-tab is-hidden-tablet" href="http://py4web.com">Resume Template</a>
      <a class="navbar-item is-tab is-hidden-tablet" href="#about">About</a>
      <a class="navbar-item nav-tag">
       <span class="icon is-small">
        <i class="fa fa-envelope-o"></i>
       </span>
       <span class="tag is-primary tag-notif">6</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
       <a class="navbar-link" href="http://web2py.com">
        <figure class="image is-32x32" style="margin-right:.5em">
         <img src="https://avatars1.githubusercontent.com/u/7221389?v=4&amp;s=32"/>
        </figure>
        mazipan
       </a>
       <div class="navbar-dropdown is-right">
        <a class="navbar-item">
         <span class="icon is-small">
          <i class="fa fa-user-o"></i>
         </span>
         Profile
        </a>
        <hr class="navbar-divider"/>
        <a class="navbar-item">
         <span class="icon is-small">
          <i class="fa fa-power-off"></i>
         </span>
         Logout
        </a>
       </div>
      </div>
     </div>
    </nav>
   </div>
  </header>
  <div class="wrapper">
   <div class="columns">
    <aside class="column is-2 aside">
     <nav class="menu">
      <p class="menu-label">General</p>
      <ul class="menu-list">
       <li>
        <a href="[%[=URL('index') ]]">
         <span class="icon is-small">
          <i class="fa fa-tachometer"></i>
         </span>
         Dashboard
        </a>
       </li>
      </ul>
      <p class="menu-label">Administration</p>
      <ul class="menu-list">
       <li>
        <a href="[%[=URL('forms') ]]">
         <span class="icon is-small">
          <i class="fa fa-pencil-square-o"></i>
         </span>
         Forms
        </a>
       </li>
       <li>
        <a href="[%[=URL('uiXelements') ]]">
         <span class="icon is-small">
          <i class="fa fa-desktop"></i>
         </span>
         UI Elements
        </a>
       </li>
       <li>
        <a href="[%[=URL('tables') ]]">
         <span class="icon is-small">
          <i class="fa fa-table"></i>
         </span>
         Tables
        </a>
       </li>
       <li>
        <a class="is-active" href="#">
         <span class="icon is-small">
          <i class="fa fa-bar-chart"></i>
         </span>
         Presentations
        </a>
       </li>
       <li>
        <a>
         <i class="fa fa-cog"></i>
         Settings
        </a>
        <ul>
         <li>
          <a>Members</a>
         </li>
         <li>
          <a>Plugins</a>
         </li>
         <li>
          <a>Add a member</a>
         </li>
        </ul>
       </li>
      </ul>
      <p class="menu-label">Live On</p>
      <ul class="menu-list">
       <li>
        <a>
         <span class="icon is-small">
          <i class="fa fa-bug"></i>
         </span>
         Additional Pages
        </a>
       </li>
       <li>
        <a>
         <span class="icon is-small">
          <i class="fa fa-windows"></i>
         </span>
         Extras
        </a>
       </li>
       <li>
        <a href="http://web2py.com" rel="noopener" target="_blank">
         <span class="icon is-small">
          <i class="fa fa-laptop"></i>
         </span>
         Landing Page
        </a>
       </li>
      </ul>
     </nav>
    </aside>
    <main class="column main">
     <nav aria-label="breadcrumbs" class="breadcrumb is-small">
      <ul>
       <li>
        <a href="#">Home</a>
       </li>
       <li class="is-active">
        <a aria-current="page" href="#">Presentations</a>
       </li>
      </ul>
     </nav>
     <div class="level">
      <div class="level-left">
       <div class="level-item">
        <div class="title">Presentations</div>
       </div>
      </div>
      <div class="level-right">
       <div class="level-item">
        <button class="button is-small" type="button">March 8, 2017 - April 6, 2017</button>
       </div>
      </div>
     </div>
     <div class="columns is-multiline">
      <div class="column is-6">
       <article class="message is-dark">
        <div class="message-header">
         <p>Chart</p>
        </div>
        <div class="message-body">
         <div id="chartLine" style="width:100%"></div>
        </div>
       </article>
      </div>
      <div class="column is-6">
       <article class="message is-dark">
        <div class="message-header">
         <p>Chart</p>
        </div>
        <div class="message-body">
         <div id="chartScatter" style="width:100%"></div>
        </div>
       </article>
      </div>
      <div class="column is-6">
       <article class="message is-dark">
        <div class="message-header">
         <p>Chart</p>
        </div>
        <div class="message-body">
         <div id="chartDoughnut" style="width:100%"></div>
        </div>
       </article>
      </div>
      <div class="column is-6">
       <article class="message is-dark">
        <div class="message-header">
         <p>Chart</p>
        </div>
        <div class="message-body">
         <div id="chartBar" style="width:100%"></div>
        </div>
       </article>
      </div>
     </div>
    </main>
   </div>
  </div>
  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle" data-ad-client="ca-pub-5442972248172818" data-ad-format="auto" data-ad-slot="1487770485" style="display:block">
  </ins>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://www.mazipan.github.io/",
    "name": "Irfan Maulana | Front End Developer",
    "author": "Irfan Maulana",
    "image": "http://mazipan.github.io/images/irfan-maulana.jpg",
    "description": "Irfan Maulana is Front End Developer from Indonesia - Man that craft some code to build a beauty and readable code, experienced in web and desktop technology.",
    "sameAs": ["https://www.facebook.com/mazipanneh", "https://instagram.com/maz_ipan", "https://twitter.com/Maz_Ipan", "https://id.linkedin.com/in/irfanmaulanamazipan", "https://www.slideshare.net/IrfanMaulana21", "https://github.com/mazipan"]
}</script>
  <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Person",
    "email": "mailto:mazipanneh@gmail.com",
    "image": "http://mazipan.github.io/images/irfan-maulana.jpg",
    "jobTitle": "Software Engineer",
    "name": "Irfan Maulana",
    "url": "https://www.mazipan.github.io/",
    "sameAs": ["https://www.facebook.com/mazipanneh", "https://instagram.com/maz_ipan", "https://twitter.com/Maz_Ipan", "https://id.linkedin.com/in/irfanmaulanamazipan", "https://www.slideshare.net/IrfanMaulana21", "https://github.com/mazipan"]
}</script>
  <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "http://mazipan.github.io/",
            "name": "Home",
            "image": "http://mazipan.github.io/images/irfan-maulana.jpg"
        }
    }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "http://mazipan.github.io/demo/",
            "name": "Demo",
            "image": "http://mazipan.github.io/images/irfan-maulana.jpg"
        }
    }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
            "@id": "http://mazipan.github.io/bulma-admin-dashboard-template",
            "name": "bulma-admin-dashboard-template",
            "image": "https://mazipan.github.io/bulma-admin-dashboard-template/logo.png"
        }
    }]
}</script>
  <script src="[%[=URL('static/tte/bulma-admin-dashboard-template/vendors~app.2d7a2cf3933d22402d65.js') ]]" type="text/javascript"></script>
  <script src="[%[=URL('static/tte/bulma-admin-dashboard-template/app.2d7a2cf3933d22402d65.js') ]]" type="text/javascript"></script>
 </body>
</html>