<!DOCTYPE html>
<html>
 <head>
            <!-- 21.10.2020 16:01:05 py4web app, ported by AI-biorex, tidylib_check = True -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>biorex title text</title>
  <link href="[%[=URL('static/tte/images/fav_icon.png') ]]" rel="shortcut icon" type="image/x-icon"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"/>
  <!-- Bulma Version 0.9.0-->
  <link href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/css/landing.css') ]]" rel="stylesheet" type="text/css"/>
 
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>
</head>
 <body>
  <section class="hero is-info is-fullheight">
   <div class="hero-head">
    <nav class="navbar">
     <div class="container">
      <div class="navbar-brand">
       <a class="navbar-item" href="../">
        <img alt="Logo" src="http://bulma.io/images/bulma-type-white.png"/></a>
       <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
       </span>
      </div>
      <div class="navbar-menu" id="navbarMenu">
       <div class="navbar-end">
        <span class="navbar-item">
         <a class="button is-white is-outlined" href="#">
          <span class="icon">
           <i class="fa fa-home"></i>
          </span>
          <span>Home</span>
         </a>
        </span>
        <span class="navbar-item">
         <a class="button is-white is-outlined" href="#">
          <span class="icon">
           <i class="fa fa-superpowers"></i>
          </span>
          <span>Examples</span>
         </a>
        </span>
        <span class="navbar-item">
         <a class="button is-white is-outlined" href="#">
          <span class="icon">
           <i class="fa fa-book"></i>
          </span>
          <span>Documentation</span>
         </a>
        </span>
        <span class="navbar-item">
         <a class="button is-white is-outlined" href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html">
          <span class="icon">
           <i class="fa fa-github"></i>
          </span>
          <span>View Source</span>
         </a>
        </span>
       </div>
      </div>
     </div>
    </nav>
   </div>
   <div class="hero-body">
    <div class="container has-text-centered">
     <div class="column is-6 is-offset-3">
      <h1 class="title">Coming Soon</h1>
      <h2 class="subtitle">$this is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.</h2>
      <div class="box">
       <div class="field is-grouped">
        <p class="control is-expanded">
         <input class="input" placeholder="Enter your email" type="text"/></p>
        <p class="control">
         <a class="button is-info">Notify Me</a>
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <script async="" src="[%[=URL('static/tte/js/bulma.js') ]]" type="text/javascript"></script>
 </body>
</html>
