<!DOCTYPE html>
<html>
 <head>
            <!-- 21.10.2020 16:01:05 py4web app, ported by AI-biorex, tidylib_check = True -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>biorex title text</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Questrial&amp;display=swap" rel="stylesheet"/>
  <!-- Bulma Version 0.9.0-->
  <link href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="[%[=URL('static/tte/css/login.css') ]]" rel="stylesheet" type="text/css"/>
 
<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="/>
</head>
 <body>
  <section class="hero is-success is-fullheight">
   <div class="hero-body">
    <div class="container has-text-centered">
     <div class="column is-4 is-offset-4">
      <h3 class="title has-text-black">Login</h3>
      <hr class="login-hr"/>
      <p class="subtitle has-text-black">Please login to proceed.</p>
      <div class="box">
       <figure class="avatar">
        <img src="https://placehold.it/128x128"/>
       </figure>
       
<!-- view: flogin0, db_table: dflogin0 -->
<div>
[%[= flogin0.custom['begin'] ]]

<div class="field">
 <div class="control">
 [%[ flogin0.custom['widgets']['f0']['_class']= 'input is-large'  ]]
 [%[ flogin0.custom['widgets']['f0']['_type']= 'text'  ]]
 [%[ flogin0.custom['widgets']['f0']['_placeholder']= 'Your Email:p4w'  ]]
 [%[ flogin0.custom['widgets']['f0']['_autofocus']= 'len0'  ]]
 [%[= flogin0.custom['widgets']['f0'] ]]

 <span style="color:#ff0000">[%[= flogin0.custom['errors']['f0'] if 'f0' in flogin0.custom['errors'] else '' ]]</span>

 </div>
</div>

<div class="field">
 <div class="control">
 [%[ flogin0.custom['widgets']['f1']['_class']= 'input is-large'  ]]
 [%[ flogin0.custom['widgets']['f1']['_type']= 'text'  ]]
 [%[ flogin0.custom['widgets']['f1']['_placeholder']= 'Your Password:p4w'  ]]
 [%[= flogin0.custom['widgets']['f1'] ]]

 <span style="color:#ff0000">[%[= flogin0.custom['errors']['f1'] if 'f1' in flogin0.custom['errors'] else '' ]]</span>

 </div>
</div>

<div class="field">
 <label class="checkbox">
 [%[ flogin0.custom['widgets']['f2']['_type']= 'checkbox'  ]]
 [%[ flogin0.custom['widgets']['f2']['_placeholder']= ':p4w'  ]]
 [%[= flogin0.custom['widgets']['f2'] ]]

 <span style="color:#ff0000">[%[= flogin0.custom['errors']['f2'] if 'f2' in flogin0.custom['errors'] else '' ]]</span>

  Remember me
 </label>
</div>

 [%[ flogin0.custom['submit']['_class']= 'button is-block is-info is-large is-fullwidth'  ]]
 [%[ flogin0.custom['submit']['_type']= 'submit'  ]]
 [%[ flogin0.custom['submit']['_value']= 'b:p4w'  ]]
 [%[= flogin0.custom['submit'] ]]

 [%[ for hidden_widget in flogin0.custom['hidden_widgets'].keys(): ]]
 [%[= flogin0.custom['hidden_widgets'][hidden_widget] ]]
 [%[ pass ]] 
[%[= flogin0.custom['end'] ]]
</div>
<!-- end flogin0 -->


      </div>
      <p class="has-text-grey">
       <a href="../">Sign Up</a>
       ·
       <a href="../">Forgot Password</a>
       ·
       <a href="../">Need Help?</a>
      </p>
     </div>
    </div>
   </div>
  </section>
  <script async="" src="[%[=URL('static/tte/js/bulma.js') ]]" type="text/javascript"></script>
 </body>
</html>
