[[extend 'p4w_layout.html']]

<a role="button" href="[[=URL(  'index'  )]]">goto index</a>
<a role="button" href="[[=URL(  'tabinfo'  )]]">goto tabinfo</a>


[[ if len(messages) != 0: ]]
    [[=messages ]]
[[pass]]


[[=upload_form ]]
[[=mygrid]]


<script>
    
    ! function () {

        for ( const e of document.getElementsByTagName("LABEL") ) {
            if (e.innerHTML.startsWith('Change') ) {
                e.innerHTML = 'Select file for upload: ';
                break;
            };
        };
    }();

</script>

